# Importing Data Visualization and Manipulation Libraries

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

# Reading the data

In [12]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

df = pd.read_csv(r'C:\Users\ds12\College\Python-Assignments\Dataset\Amazon-Products.csv',index_col=0)

df.head()

                                                name main_category      sub_category                                              image                                               link ratings no_of_ratings discount_price actual_price
0  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...    appliances  Air Conditioners  https://m.media-amazon.com/images/I/31UISB90sY...  https://www.amazon.in/Lloyd-Inverter-Convertib...     4.2         2,255        ₹32,999      ₹58,990
1  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...    appliances  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.2         2,948        ₹46,490      ₹75,990
2  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...    appliances  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...  https://www.amazon.in/LG-Inverter-Convertible-...     4.2         1,206        ₹34,490      ₹61,990
3  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...    appliances  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.0            69        ₹37,990      ₹68,990
4  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...    appliances  Air Conditioners  https://m.media-amazon.com/images/I/41lrtqXPiW...  https://www.amazon.in/Carrier-Inverter-Split-C...     4.1           630        ₹34,490      ₹67,790

# Describe the dataset

In [13]:
df.describe()

                         name main_category sub_category                                              image                                               link ratings no_of_ratings discount_price actual_price
count                  551585        551585       551585                                             551585                                             551585  375791        375791         490422       533772
unique                 396210            20          112                                             462414                                             551585      49          8342          27511        23170
top     Zeya Yellow Gold Ring   accessories       Shirts  https://m.media-amazon.com/images/I/51uEPldT42...  https://www.amazon.in/Lloyd-Inverter-Convertib...     4.0             1           ₹499         ₹999
freq                      718        116141        19200                                               3044                                                  1   36609         39816          18248        48774

# Data Information

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 551585 entries, 0 to 1103
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            551585 non-null  object
 1   main_category   551585 non-null  object
 2   sub_category    551585 non-null  object
 3   image           551585 non-null  object
 4   link            551585 non-null  object
 5   ratings         375791 non-null  object
 6   no_of_ratings   375791 non-null  object
 7   discount_price  490422 non-null  object
 8   actual_price    533772 non-null  object
dtypes: object(9)
memory usage: 42.1+ MB

In [10]:
# Checking for null values

df.isnull().sum().sort_values(ascending=False)

dish_liked                     28078
rate                            7775
phone                           1208
approx_cost(for two people)      346
rest_type                        227
cuisines                          45
location                          21
listed_in(type)                    0
menu_item                          0
reviews_list                       0
url                                0
address                            0
votes                              0
book_table                         0
online_order                       0
name                               0
listed_in(city)                    0
dtype: int64